In [20]:
# importing libraries

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [21]:
# importing dataset

ds = pd.read_csv('heart_disease_dataset.csv')
ds

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67.0,1.0,0.0,176.0,148.0,1.0,NaN,NaN,1.0,5.6,3.0,3.0,fixed,0.0
1,57.0,1.0,1.0,155.0,551.0,0.0,1.0,98.0,1.0,NaN,2.0,4.0,fixed,0.0
2,43.0,1.0,0.0,125.0,519.0,1.0,0.0,113.0,1.0,NaN,1.0,4.0,reversable,1.0
3,71.0,NaN,0.0,123.0,285.0,0.0,2.0,156.0,0.0,6.2,3.0,1.0,reversable,1.0
4,36.0,0.0,0.0,122.0,488.0,1.0,1.0,NaN,1.0,3.3,3.0,1.0,normal,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,47.0,1.0,1.0,NaN,239.0,1.0,2.0,105.0,1.0,2.9,2.0,1.0,NaN,0.0
496,60.0,1.0,2.0,98.0,270.0,1.0,NaN,100.0,1.0,5.4,1.0,0.0,reversable,0.0
497,29.0,1.0,2.0,138.0,NaN,1.0,0.0,127.0,0.0,1.3,2.0,1.0,reversable,0.0
498,33.0,0.0,2.0,151.0,261.0,0.0,0.0,117.0,1.0,0.8,3.0,3.0,fixed,NaN
499,73.0,1.0,3.0,124.0,428.0,0.0,0.0,89.0,1.0,1.8,3.0,2.0,normal,1.0

In [22]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       448 non-null    float64
 1   sex       441 non-null    float64
 2   cp        456 non-null    float64
 3   trestbps  457 non-null    float64
 4   chol      448 non-null    float64
 5   fbs       456 non-null    float64
 6   restecg   446 non-null    float64
 7   thalach   456 non-null    float64
 8   exang     464 non-null    float64
 9   oldpeak   444 non-null    float64
 10  slope     468 non-null    float64
 11  ca        453 non-null    float64
 12  thal      450 non-null    object
 13  target    453 non-null    float64
dtypes: float64(13), object(1)
memory usage: 54.8+ KB

In [23]:
ds.isnull().sum()

age         52
sex         59
cp          44
trestbps    43
chol        52
fbs         44
restecg     54
thalach     44
exang       36
oldpeak     56
slope       32
ca          47
thal        50
target      47
dtype: int64

In [24]:
# Numerical columns : fill with mean
num_col = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
ds[num_col] = ds[num_col].fillna(ds[num_col].median())

# Categorical column encode with mode
cat_col = ['sex','cp','fbs','restecg','exang','slope','ca','thal']
for col in cat_col:
    ds[col] = ds[col].fillna(ds[col].mode()[0])

In [25]:
ds.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [26]:
ds.dropna(subset = ['target'] , inplace=True)

In [27]:
ds['age'] = ds['age'].astype(int)
ds['sex'] = ds['sex'].astype(int)
ds['cp'] = ds['cp'].astype(int)
ds['fbs'] = ds['fbs'].astype(int)
ds['restecg'] = ds['restecg'].astype(int)
ds['exang'] = ds['exang'].astype(int)
ds['slope'] = ds['slope'].astype(int)
ds['ca'] = ds['ca'].astype(int)

In [28]:
from sklearn.preprocessing import LabelEncoder

le_thal = LabelEncoder()
ds['thal_encoded'] = le_thal.fit_transform(ds['thal']) 

ds.drop('thal',axis = 1,inplace=True)

thal_mapping = dict(zip(le_thal.classes_,le_thal.transform(le_thal.classes_)))
print('Encodinf Maps : ',thal_mapping)

Encodinf Maps :  {'fixed': 0, 'normal': 1, 'reversable': 2}

In [29]:
print(ds.duplicated().sum())
ds.drop_duplicates(inplace=True)

0

In [30]:
ds.info()
ds.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 453 entries, 0 to 499
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           453 non-null    int32
 1   sex           453 non-null    int32
 2   cp            453 non-null    int32
 3   trestbps      453 non-null    float64
 4   chol          453 non-null    float64
 5   fbs           453 non-null    int32
 6   restecg       453 non-null    int32
 7   thalach       453 non-null    float64
 8   exang         453 non-null    int32
 9   oldpeak       453 non-null    float64
 10  slope         453 non-null    int32
 11  ca            453 non-null    int32
 12  target        453 non-null    float64
 13  thal_encoded  453 non-null    int32
dtypes: float64(5), int32(9)
memory usage: 37.2 KB

age             0
sex             0
cp              0
trestbps        0
chol            0
fbs             0
restecg         0
thalach         0
exang           0
oldpeak         0
slope           0
ca              0
target          0
thal_encoded    0
dtype: int64

In [31]:
ds.to_csv('cleaned_heart_disease_data.csv')